<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'activerecord.attributes.customer.name' %></strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.customer.cpf' %></strong>
  <%= @customer.cpf %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.customer.address_street' %></strong>
  <%= @customer.address_street %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.customer.address_number' %></strong>
  <%= @customer.address_number %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.customer.cep' %></strong>
  <%= @customer.cep %>
</p>

<%= link_to t('edit'), edit_customer_path(@customer) %> |
<%= link_to t('back'), customers_path %>
